<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JuicySwapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SilentSwapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <JuicySwapper.Properties.Settings>
            <setting name="pakPath" serializeAs="String">
                <value>C:\Program Files\Epic Games\Fortnite\FortniteGame\Content\Paks</value>
            </setting>
            <setting name="openfortnite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offsetskin1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetpick" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetback" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetskin2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetemote" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetlobby" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetpickmesh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="current_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RenegadeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GhoulOGEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RedNosedEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="opendiscord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BKEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StealthReflexEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SparkplugEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WonderEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaulthead" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultbody" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AerialEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RubyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BracerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkullRangerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PunchyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutumnQueenEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BoltEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BirdieEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoublecrossEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HushEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeidiEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SparkleEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlowEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IkonikEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MezmerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZadieEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenegadeCEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScarletEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfernoEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorldWarriorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShadowbirdEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FinesseEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PoisedEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClashEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BriteBomberEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BunnyBrawlerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManicEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EliteAgentEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkVoyagerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TriceraOpsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrusherEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DominoEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MogulUSAEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MogulCANEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MogulCHNEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MogulFRAEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MogulGBREnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MogulGEREnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MogulKOREnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MogulEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ACDCEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RaidersRevengeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MerryMintEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DualRaidersEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StarWandEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReaperEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartyAnimalEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="musicPath" serializeAs="String">
                <value>C:/</value>
            </setting>
            <setting name="musicName" serializeAs="String">
                <value />
            </setting>
            <setting name="TakeTheLEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlickEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScenarioEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PonyUpEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PokiEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeverGonnaEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LazerBlastEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LlamacadabraEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfectiousEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlowsticksEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LevitateEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlossEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlapperEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DaydreamEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrakeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlackShieldEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IllusionRuneEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlameSigilEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GalacticDiscEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FallenWingsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscoBallEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GalaxyWingsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FireVortexEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GhostPortalEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlimmeringCloakEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InsigniaEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RainbowCloverEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupPlanEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TheWormEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToosieSlideEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FishinEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmoothMovesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FreestylinEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheerUpEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FreshEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PopLockEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OrangeJusticeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TheRenegadeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BattleShroudEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CovenCapeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrestedCapeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CuddleBowEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DismalEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnduringCapeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoyaleShieldEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScalyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SixStringEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpectralSpineEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StitchesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VenturionCapeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WolfpackEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutumnsMantleEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScenarioMusicEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToosieMusicEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuperOGEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GalaxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OGDefaultEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StellarAxeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CandyAxeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StuddedAxeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PinkFlamingoEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrowbarEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HarleyHitterEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpikyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WidowsBiteEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DriverEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AxeOfChampionsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VisionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="invalidm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="invalidf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BhangraBoogieEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BootstrapsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrustyNo2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IceBreakerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScarletCommanderEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DreamGalaxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhiteoutEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KyraEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenegadeRaiderEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenegadeRaiderCEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HavocEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VelocityEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkullTrooperEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FateEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="outwestEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlagueEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrilliantStrikerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MavenEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TropicalZoeyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BuckleUpEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ButterflyKnifeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GingerGunnerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeachBomberEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bodypathAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="headpathAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="pickaxepathAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="pickaxesoundpathAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="backblingpathAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="emotespathAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="idpathAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="head13pathAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="body13pathAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="offsethead13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetbody13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cppackAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="cppackAPI2" serializeAs="String">
                <value />
            </setting>
            <setting name="ChaosAgentEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AstroJackEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DynamoEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoveWingsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloakedShadowEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SirenEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JuicyEAC1Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JuicyEAC2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NogOpsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PsychoBanditEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BreakpointEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReconSpecialistEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </JuicySwapper.Properties.Settings>
        <SilentSwapper.Properties.Settings>
            <setting name="pakPath" serializeAs="String">
                <value>C:\Program Files\Epic Games\Fortnite\FortniteGame\Content\Paks</value>
            </setting>
            <setting name="test" serializeAs="String">
                <value>False</value>
            </setting>
        </SilentSwapper.Properties.Settings>
    </userSettings>
</configuration>