<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JuicyIDSwapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <JuicyIDSwapper.Properties.Settings>
            <setting name="pakPath" serializeAs="String">
                <value>C:\Program Files\Epic Games\Fortnite\FortniteGame\Content\Paks</value>
            </setting>
            <setting name="openfortnite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="musicPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="musicName" serializeAs="String">
                <value />
            </setting>
            <setting name="current_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlackKnightEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenegadeRaiderEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AerialAssaultTrooperEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GhoulTrooperEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkullTrooperEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HonorGuardEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IkonikEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GalaxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlowEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShadowArchetypeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkVertexEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WonderEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StealthReflexEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NiteGunnerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlossEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScenarioEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TheWormEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TheRenegadeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BhangraBoogieEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PonyUpEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LevitateEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlackShieldEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupPlanEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GhostPortalEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GalacticDiscEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkDeflectorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoyaleShieldEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RogueSpiderShieldEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offsetlobby" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idpathAPI" serializeAs="String">
                <value />
            </setting>
        </JuicyIDSwapper.Properties.Settings>
    </userSettings>
</configuration>